<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="utf-8" />
    <title>Krav Maga Tapiola</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Krav Maga Tapiola Espoo Suomi FEKM PKMI" />
    <meta name="description" content="Krav Maga Tapiola kuuluu Pohjolan Krav Maga Itsepuolustusliiton (PKMI) kautta maailman suurimpaan Krav Maga -liittoon, Euroopan Krav Maga -liittoon (FEKM-RD)" />
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1863981033824615', {
        });
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1863981033824615&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700,400,300" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/bootstrap", "~/Content/font-awesome", "~/Content/css", "~/Content/custom.less", "~/Content/YTPlayer")
    @Scripts.Render("~/bundles/jquery", "~/bundles/modernizr")
    @Scripts.Render("~/bundles/YTPlayer")
</head>
<body class="no-trans">
     <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop">
        <i class="icon-up-open-big"></i>
    </div>

    <!-- header start -->
    <!-- ================ -->
    <header class="header fixed clearfix navbar navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                    <!-- header-left start -->
                    <!-- ================ -->
                    <div class="header-left clearfix">

                        <!-- logo -->
                        <div class="logo smooth-scroll">
                            <a href="#banner">
                            <img id="logo" src="images/logo.png" alt="Krav Maga Tapiola ry"></a>
                        </div>

                    </div>
                    <!-- header-left end -->

                </div>
                <div class="col-md-9">

                    <!-- header-right start -->
                    <!-- ================ -->
                    <div class="header-right clearfix">

                        <!-- main-navigation start -->
                        <!-- ================ -->
                        <div class="main-navigation animated">

                            <!-- navbar start -->
                            <!-- ================ -->
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">

                                    <!-- Toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="#treenit">Treenit</a></li>
                                            <li><a href="#tapahtumat">Tapahtumat</a></li>
                                            <li><a href="#videos">Videot</a></li>
                                            <li><a href="#information">Krav Maga</a></li>
                                            <li><a href="#contact">Yhteystiedot</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </nav>
                            <!-- navbar end -->

                        </div>
                        <!-- main-navigation end -->

                    </div>
                    <!-- header-right end -->

                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    <!-- banner start -->
    <!-- ================ -->
    <div id="banner" class="banner banner-player" data-property="{ videoURL:'vXoiZjnCi30', containment:'self' }">
        <div class="banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="text-center">
                            <p class="smooth-scroll">
                                <a href="#join" class="btn btn-primary btn-lg">Ilmoittaudu</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner-loader">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <filter id="gooey">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
                        <feBlend in="SourceGraphic" in2="goo"></feBlend>
                    </filter>
                </defs>
            </svg>
            <div class="blob blob-0"></div>
            <div class="blob blob-1"></div>
            <div class="blob blob-2"></div>
            <div class="blob blob-3"></div>
            <div class="blob blob-4"></div>
            <div class="blob blob-5"></div>
            <div class="text-center">Loading...</div>
        </div>
    </div>
    <div id="banner-image" class="banner banner-image"></div>

    <!-- banner end -->

    @RenderBody()

    <!-- footer start -->
    <!-- ================ -->
    <footer id="footer">

        <!-- .footer start -->
        <!-- ================ -->
        <div class="footer section">
            <div class="container">
                <h1 class="title text-center" id="contact">Ota yhteyttä</h1>
                <div class="space"></div>
                <div class="row">
                        <div class="col-sm-6">
                            <div class="footer-content">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1984.2795859597552!2d24.779437748482394!3d60.17610442379164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468df5a58b7ae85b%3A0x89a34b13aa762e70!2sKoivu-Mankkaan+tie+5%2C+02200+Espoo!5e0!3m2!1sfi!2sfi!4v1466447093609" frameborder="0" style="border: 0; width: 100%; height: 400px;" allowfullscreen></iframe>

                                <ul class="list-icons">
                                    <li>
                                        <i class="fa fa-map-marker pr-10"></i> Esport Arenan kamppailukeskus<br />
                                        <span style="padding-right: 23px;"></span>
                                        Koivu-Mankkaan tie 5<br />
                                        <span style="padding-right: 23px;"></span>02200 ESPOO
                                    </li>
                                    <li><i class="fa fa-envelope-o pr-10"></i> info@kravmagatapiola.fi</li>
                                </ul>

                                <ul class="social-links">
                                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/kravmagatapiola"><i class="fa fa-facebook"></i></a></li>
                                    <li class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UCWsNxh2VXH22bn7sUJbl1BA"><i class="fa fa-youtube"></i></a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="bordered">
                                <h3>Kirjautuminen jäsenpalveluun</h3>
                                <div class="footer-content">
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <!-- myClub embed JS - start -->
                                        <div class="myclub-embed" data-url="https://kravmaga.myclub.fi/login_embeds/183?token=a6e55d07db527462f07b4e14b76a1483f3b2fed6"></div>
                                        <!-- myClub embed JS - end -->
                                    </div>
                                </div>
                                <div class="space visible-sm-block"></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- .footer end -->
        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">Copyright © @(DateTime.Now.Year) Krav Maga Tapiola ry.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- .subfooter end -->

    </footer>
    <!-- footer end -->
    @Scripts.Render("~/bundles/bootstrap", "~/Scripts/site")

    @RenderSection("Scripts", required: false)
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] ||
                function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-66211929-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script>
        (function (d, s, id) {
            var js, mjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.async = true;
            js.src = "https://kravmaga.myclub.fi/assets/embed_v2.js";
            mjs.parentNode.insertBefore(js, mjs);
        }(document, 'script', 'myclub-embed-js'));
    </script>

    <script type="application/ld+json">
        {
        "@@context": "https://schema.org/",
        "@@type": "LocalBusiness",
        "name": "Krav Maga Tapiola",
        "url": "https://kravmagatapiola.fi",
        "logo": "https://kravmagatapiola.fi/images/logo.png",
        "address": "Esport Arenan kamppailukeskus, Koivu-Mankkaan tie 5, 02200 ESPOO",
        "parentOrganization": "Pohjolan Krav Maga Itsepuolustusliitto"
        }
    </script>
</body>
</html>
